<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"/>

  </head>
  <body>
    <div>
      <header class="header">Daily Weather</header>
      <div class="content">
        <div class="right-side">
          <div class="info-container">
            <div class="info-box">
              <h3>
                {{ weather_data['location']['country'] if weather_data else
                "Country" }}
              </h3>
              <p>
                Temperature: {{ weather_data['current']['temp_c'] if
                weather_data else "---" }} &#8451;
              </p>
              <p>
                Wind speed: {{ weather_data['current']['wind_kph'] if
                weather_data else "---" }} KM/H
              </p>
              <p>
                Humidity: {{ weather_data['current']['humidity'] if weather_data
                else "---" }} %
              </p>
            </div>
            <div class="additional-info">
              <p>
                {{ weather_data['current']['condition']['text'] if weather_data
                else "No data" }}
              </p>
            </div>
          </div>

          <div class="days-label">4 Day Forecast</div>
          <div class="four-columns">
            {% if forecast_data and forecast_data.forecast.forecastday %} 
            {% for day in forecast_data.forecast.forecastday[1:] %}
            <div class="forecast-day">
              <div class="column-box">
                <h4>( {{ day.date }} )</h4>
                <p>{{ day.day.condition.text }}</p>
                <p>Temp: {{ day.day.avgtemp_c }} &#8451;</p>
                <p>Max Wind: {{ day.day.maxwind_kph }} KM/H</p>
                <p>Humidity: {{ day.day.avghumidity }} %</p>
              </div>
            </div>
            {% endfor %} 
            {% else %}
            {% for i in range(4) %}
              <div class="forecast-day">
                <div class="column-box">
                  <h4>---</h4>
                  <p>No forecast data available.</p>
                </div>
              </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
